*{
    margin: 0;
    padding: 0;
}
.box{
    width: 100%;
    height: 2000px;
}
.box1{
    width: 100%;
    height: 100%;
   
    margin: 0 auto;
   
   
}
.top1{
    width: 100%;
    height: 100px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}
.top{
    width: 1380px;
    height: 100px;
    border-top: 2px solid #dadce0;
    
    position: relative;
    background: #ffffff;
    margin: 0 auto;
}
.top-left{
    width: 208px;
    height: 100px;
    float: left;
}
.top-left img{
    width: 168px;
    height: 43px;
    
    margin-top: 30px;
}
.top-middle{
    width: 750px;
    height: 100px;
    float: left;
}
.top-middle ul{
    height: 100px;
   
}
.top-middle ul li{
     float: left; 
    list-style: none;
}
.top-middle ul li a{
    height: 40px;
   
    margin-left: 40px;
    margin-top: 30px;
    display: block;
    text-decoration: none;
    color: #885f40;
    font-size: 17px;
    
}
.ol{
    clear: left;
    display:inline-block;
}
.top-right ul li:nth-child(2){
    font-size: 17px;
    line-height: 100px;

}
.top-right ul li:nth-child(3){
    font-size: 20px;
    line-height: 100px;


}
.top-right ul li{
    float: left;
    list-style: none;
    font-size: 40px;
    color: #fe7317;
    line-height: 100px;
}
.top-right ul li:nth-child(5){
    display: block;
    text-decoration: none;
    color: #fe7317;
    font-size: 15px;
    line-height: 100px;
    cursor: pointer;
}
.top-right ul li:nth-child(6){
    display: block;
    text-decoration: none;
    color: #fe7317;
    font-size: 15px;
    line-height: 100px;
    cursor: pointer;

}
.top-right ul li:nth-child(7){
    display: block;
    text-decoration: none;
    color: #fe7317;
    font-size: 15px;
    line-height: 100px;
    cursor: pointer;

}

.nav{
    width: 100%;
    height: 491px;
    position: relative;
    overflow: hidden;
    
}
.nav img{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.middle{
    width: 100%;
    height: 445px;
    background: url(./imges/images/pingpu_02.jpg);
}
.main{
    width: 100%;
    height: auto;

}
.main-top{
    width: 100%;
    height: 150px;
    padding-top: 26px;
}
.main-top p{
    text-align: center;
    font-size: 24px;
    color: #885f5e;
    line-height: 58px;

}
.main-top i{
    display: block;
   font-style: normal;
   text-align: center;
   font-size: 16px;
   color: #c5aea0;
   line-height: 24px;
}
.main-top span{
    display: block;
    text-align: center;
    font-size: 16px;
    color: #c5aea0;
    line-height: 24px;
}
.main-middle{
    height: 470px;
    width: 1130px;
    margin: 0 auto;
}
.main-left{
    width: 360px;
    height: 220px;
    float: left;
}
.main-left a{
    display: block;
    width: 360px;
    height: 220px;
}
.main-left a img{
    width: 220px;
    height: 220px;
    margin-left: 70px;
}
.main-left p{
    text-align: center;
    font-size: 17px;
    color: #885f3f;
    line-height: 30px;

}

.main-left i{
    font-style: normal;
    text-align: center;
    display: block;
    line-height: 30px;
    font-size: 15px;
}
.main-left span{
    text-align: center;
    display: block;
    line-height: 30px;
    font-size: 15px;
}
.main-left i a{
    text-align: center;
    display: block;
    line-height: 30px;
    font-size: 15px;
    text-decoration: none;
}
footer{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.new-footer {
    overflow: hidden;
    border-top: 1px solid #EFEFEF;
    background: #ffffff;
}
.new-footer .link {
    width: 1100px;
    margin: auto;
    padding: 25px 0;
    font-size: 12px;
    color: #8C8C8C;
    overflow: hidden;
}
.new-footer .bottom {
    padding: 20px 0 25px 0;
    border-top: 1px solid #EFEFEF;
}
.new-footer .bottom .content {
    width: 1100px;
    margin: auto;
    overflow: hidden;
}
.new-footer .logo {
    float: left;
    width: 134px;
    height: 33px;
    overflow: hidden;
    text-indent: -9999em;
    background-position: 0px 0px;
    background: transparent url(/themes/1d1c/images/new-images/logo.png) repeat scroll 0% 0%;
    position: static;
}
.logo {
    background: url(../images/index_images/logo.png) center center no-repeat;
    width: 156px;
    height: 80px;
    background-size: 100%;
    position: relative;
    top: 10px;
}
.new-footer .link .msg {
    float: left;
    overflow: hidden;
}
.new-footer .link .about {
    float: left;
    overflow: hidden;
    margin: 0 0 0 75px;
    width: 180px;
    
}
.new-footer .link .service {
    float: left;
    overflow: hidden;
    margin: 0 0 0 100px;
    width: 180px;
}
.new-footer .link .code {
    float: right;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.new-footer .content p {
    float: left;
    margin: 0 0 0 20px;
    font-size: 12px;
    color: #8C8C8C;
    line-height: 20px;
}
.denglu{
    width: 690px;
    height: 460px;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: white;
}
.denglu.active{
    display: none;
}
.denglu-top{
    width: 100%;
    height: 70px;
}
.denglu-top ul li{
    display: block;
    float: left;
    font-size: 22px;
    list-style: none;
    margin: 20px 40px;
    font-weight: bold;
    cursor: pointer;

}
.denglu-top ul li.active{
    color: tomato;
}
.denglu-top ul li:nth-child(4){
    float: right;
}
.denglu-bottom{
    position: absolute;
    display: none;
}
.denglu-bottom.active{
    display: block;
}
.denglu-bottom input{
    width: 500px;
    height: 50px;
    color: #999999;
    margin: 20px 90px;
    text-indent: 15px;
    font-size: 17px;
    line-height: 50px;
}
.denglu-bottom p{
    text-indent: 105px;
    font-size: 18px;
    display: inline-block;
    color: #999999;
    
}

.denglu-bottom button{
    width: 500px;
    height: 50px;
    color: white;
    margin: 20px 90px;
    text-indent: 15px;
    font-size: 17px;
    line-height: 50px;
    background: tomato;
    outline: none;
    border: white 1px solid;
}
.denglu-bottom1{
    position: absolute;
    display: none;
}
.denglu-bottom1.active{
    display: block;
}
.denglu-bottom1 input{
    width: 500px;
    height: 50px;
    color: #999999;
    margin: 20px 90px;
    text-indent: 15px;
    font-size: 17px;
    line-height: 50px;
}
.denglu-bottom1 input:nth-child(2){
    width: 300px;
    height: 50px;
    color: #999999;
    margin: 20px 0px 0 90px;
    text-indent: 15px;
    font-size: 17px;    
    line-height: 50px;
}
.denglu-bottom1 input:nth-of-type(3){
    width: 300px;
    height: 50px;
    color: #999999;
    margin: 20px 0px 0 90px;
    text-indent: 15px;
    font-size: 17px;    
    line-height: 50px;
    display: inline-block;
}
.img{
    display: inline-block;
    
}
.img img{
    width: 200px;
    height: 50px;
   
  
}
.denglu-bottom1 button:nth-of-type(1){
    display: inline-block;
    width: 200px;
    height: 50px;
    color: white;
    margin: 20px 0 20px 0;
    text-indent: 15px;
    font-size: 17px;
    line-height: 50px;
    background: tomato;
    outline: none;
    border: white 1px solid;
}
.denglu-bottom1 p{
    text-indent: 105px;
    font-size: 18px;
    display: inline-block;
    color: #999999;
    
}
.denglu-bottom1 button:nth-of-type(2){
    width: 500px;
    height: 50px;
    color: white;
    margin: 20px 90px;
    text-indent: 15px;
    font-size: 17px;
    line-height: 50px;
    background: tomato;
    outline: none;
    border: white 1px solid;
}
